PORT=5000
DATABASE_URL="postgresql://user:password@ep-sample-neon-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="super-secret-jwt-key-production"
FRONTEND_URL="http://localhost:3000"